{% extends 'gallerytemplate.html' %}

{% block title %}Gallery{% endblock %}

{% block header %}
<script type="text/javascript" src="/js/jquery.simplePagination.js"></script>
<link rel="stylesheet" href="/css/simplePagination.css"/>
<script language="JavaScript">
$( document ).ready(function() {
    $("#pagination").pagination({
        items: {{count}},
        itemsOnPage: {{config.imagesPerPage}},
        cssStyle: 'light-theme',
        currentPage: $('input[name="page"]').val(),
        onPageClick: function (pageNum) {
        	$('input[name="page"]').val(pageNum);
        	document.forms.search.submit();
        }
    });
});
</script>
{% endblock %}

{% block leftcolumn %}
	<div class="taglist">
	{% for tag in taglist.sort() %}
		<div class="tag" id="{{tag}}"><a href="/gallery?tags={{tag}}&page=1">{{tag}}</a> {% if user %}<img src="/images/delete-sm.png" class="delete-button" onClick="javascript:deleteTag('{{image._id.toString()}}','{{tag}}');"/>{% endif %}</div>
	{% endfor %}
	</div>
{% endblock %}

{% block main %}
	<div id="alert">{{error}}</div>
	<div class="gallery">
	{% for image in images %}
		<div class="galleryimg">
			<a href="/image?id={{image._id.toString()}}">
			<img src="/thumbnails/{{image.thumbnail}}"/>
			</a>
		</div>
	{% endfor %}
		<div class="pagination" id="pagination"/>
	</div>
{% endblock %}