<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}Gallery{% endblock %}</title>
  <link rel="stylesheet" href="/css/gallery.css"/>
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/gallery-api.js"></script>
  <script language="Javascript">
      $.ajaxSetup({
          cache: false
      });
  </script>
  {% block header %}
  {% endblock %}
</head>
<body>
	<div id="top">HEADER IMAGE MIGHT GO HERE</div>
	<div id="topnav">LINKS MIGHT GO HERE</div>
	<div id="centerpage">
		<div id="leftcolumn">
		{% block searchbox %}
		<form name="search" method="GET" action="/gallery">
			<input type="text" name="tags" value="{{tags}}"/>
			<input type="hidden" name="page" value="{{page}}"/>
			<select name="sortby">
				<option value="recent" {% if sortby == 'recent' %}SELECTED{% endif %}>Most recent</option>
				<option value="last" {% if sortby == 'last' %}SELECTED{% endif %}>Least viewed</option>
			</select>
		</form>
		<input type="button" name="submit" value="Search" onClick="document.forms.search.submit();"/>
		{% endblock %}
		{% block leftcolumn %}
		{% endblock %}
		</div>
		<div id="main">
		{% block main %}
		CONTENT WELL
		{% endblock %}
		</div>
	</div>
	<div id="footer">{% block footer %}Node-mongo-gallery source located at <a href="http://www.github.com/taylorj999/node-mongo-gallery">Github</a>{% endblock %}</div>
</body>
</html>