<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}Gallery{% endblock %}</title>
  <!-- <link rel="stylesheet" href="/css/gallery.css"/> -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/gallery-api.js"></script>
  <script language="Javascript">
      $.ajaxSetup({
          cache: false
      });
  </script>
  {% block header %}
  {% endblock %}
</head>
<body>
	<div id="topnav" class="nav navbar navbar-expand-lg navbar-dark bg-primary" role="navigation">
      <div class="navbar-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		{% if user %}
			<a href="#" class="navbar-brand">Welcome, {{user.local.email}}.</a>
			<a href="/profile" class="nav-item nav-link">My Profile</a>
			<a href="/logout" class="nav-item nav-link">Log Out</a>
		{% else %}
			<a href="/login" class="nav-item nav-link">Log In</a> <a href="/signup" class="nav-item nav-link">Create Account</a>
		{% endif %}
		<a href="/serieslist" class="nav-item nav-link">Series</a>
		<a href="/taglist" class="nav-item nav-link">Tags</a>
	  </div>
	</div>
	<div id="centerpage" class="container-fluid">
	  <div class="row">
		<div id="leftcolumn" class="col-2">
		{% block searchbox %}
		  <form name="search" method="GET" action="/gallery">
		    <div class="form-group">
		      <label for="formtags">Image Search</label>
			  <input type="text" class="form-control" name="tags" id="formtags" value="{{tags}}"/>
			</div>
			<input type="hidden" name="page" value="{{page}}"/>
			{% if series %}
				<input type="text" class="form-control" name="series" value="{{series}}"/>
			{% endif %}
			<div class="form-group">
			  <label for="sortby">Search Order</label>
			  <select name="sortby" id="sortby" class="form-control">
				<option value="recent" {% if sortby == 'recent' %}SELECTED{% endif %}>Most recent</option>
				<option value="last" {% if sortby == 'last' %}SELECTED{% endif %}>Least viewed</option>
				<option value="series" {% if sortby == 'series' %}SELECTED{% endif %}>Series sequence</option>
			  </select>
			</div>
		  </form>
		<input type="button" name="submit" value="Search" class="btn btn-primary" onClick="document.forms.search.submit();"/>
		{% endblock %}
		{% block leftcolumn %}
		{% endblock %}
		</div>
		<div id="main" class="col">
		{% block main %}
		CONTENT WELL
		{% endblock %}
		</div>
	  </div>
	</div>
	<div id="footer">{% block footer %}Node-mongo-gallery source located at <a href="http://www.github.com/taylorj999/node-mongo-gallery">Github</a>{% endblock %}</div>
</body>
</html>