{% extends 'gallerytemplate.html' %}

{% block title %}Image{% endblock %}

{% block leftcolumn %}
  {% if image %}
    <div class="taglist">
		{% for tag in image.tags.sort() %}
		<div class="tag" id="{{tag}}">{{tag}} {% if user %}<img src="/images/delete-sm.png" class="delete-button" onClick="javascript:deleteTag('{{image._id.toString()}}','{{tag}}');"/>{% endif %}</div>
		{% endfor %}
	</div>
	{% if user %}
		<div class="tag">
			<form name="addtag" method="post" action="" onsubmit="addTag('{{image._id.toString()}}');return false;">
				<input type="text" name="newtag" value=""/>
				<input type="button" name="add" class="add-button" onClick="javascript:addTag('{{image._id.toString()}}');"/>
			</form>
		</div>
		{% if image.tags.indexOf('series') >=0 %}
		<form name="setsequence" method="post" action="" onsubmit="setSequence('{{image._id.toString()}}');return false;">
			<input type="text" name="sequence" value="{{image.sequence}}"/>
			<input type="button" name="set" value="set" class="set-button" onClick="javascript:setSequence('{{image._id.toString()}}');"/>
		</form>
		{% endif %}
		{% if image.deleted %}
		<div class="delete">
			<input type="button" name="undelete" value="Un-Delete Image" class="delete-image" onClick="javascript:unDeleteImage('{{image._id.toString()}}');"/>
		</div>
		{% else %}
		<div class="delete">
			<input type="button" name="delete" value="Delete Image" class="delete-image" onClick="javascript:deleteImage('{{image._id.toString()}}');"/>
		</div>
		{% endif %}
	{% endif %}
	<div class="imagedetail">
		<div id="original">Original: {{image.original}}</div>
		<div id="uploaded">Uploaded on: {{image.date|date('Y-m-d')}}</div>
	</div>
  {% endif %}
{% endblock %}

{% block main %}
	<div id="alert">{{error}}</div>
	{% if image %}
	<div id="image">
		<img src="/{{image.location}}"/>
	</div>
		{% if config.allowComments %}
			<div id="comments">
				{% for comment in image.comments %}
				<div id="comment">
					<div id="commentuser">{{comment.user}}</div>
					<div id="commentdate">Posted: {{comment.date|date('Y-m-d')}}</div>
					<div id="commenttext">{{comment.comment}}</div>
				</div>
				{% endfor %}
				{% if user || config.allowAnonymousComments %}
				<div id="comment">
					<form name="comment" action="/addComment" method="POST">
						<div id="commentuser">{% if user %}{{user.local.email}}{% else %}Anonymous{% endif %}</div>
						<div id="commenttext"><textarea cols="50" rows="6" name="comment"></textarea></div>
						<input type="submit" name="Add Comment" value="Add Comment"/>
						<input type="hidden" name="id" value="{{image._id.toString()}}"/>
					</form>
				</div>
				{% endif %}
			</div>
		{% endif %}
	{% endif %}
{% endblock %}