{% extends 'gallerytemplate.html' %}

{% block title %}Series List{% endblock %}

{% block header %}
<script type="text/javascript" src="/js/jquery.simplePagination.js"></script>
<!-- <link rel="stylesheet" href="/css/simplePagination.css"/> -->
<script>
$( document ).ready(function() {
    $("#pagination").pagination({
        items: {{count}},
        itemsOnPage: {{config.imagesPerPage}},
        cssStyle: 'light-theme',
        currentPage: {{page}},
        onPageClick: function (pageNum) {
        	$('input[name="seriespage"]').val(pageNum);
        	document.forms.serieslist.submit();
        }
    });
});
</script>
{% endblock %}

{% block leftcolumn %}
	<div class="taglist">
	{% for tag in taglist.sort() %}
		<div class="tag" id="{{tag}}"><a href="/gallery?tags={{tag}}&page=1">{{tag}}</a></div>
	{% endfor %}
	</div>
{% endblock %}

{% block main %}
	<form name="serieslist" action="/serieslist" method="POST">
		<input type="hidden" name="seriespage" value="{{page}}"/>
	</form>
	<div id="alert">{{error}}</div>
	<div class="gallery">
	{% for series in serieslist %}
	   {% if (loop.index % 6) == 1 %}
	     <div class="row mb-1">
	   {% endif %}	
	       <div class="col-2">
			 <div class="card">
			   <a href="/gallery?series={{series._id}}">
			   <img src="/thumbnails/{{series.thumbnail}}"/>
			   </a>
			   <div class="seriesname">{{series._id}}</div>
			   <div class="seriescount">Image Count: {{series.count}}</div>
		     </div>
		   </div>
	  {% if (loop.index % 6) == 0 %}
		</div>
	  {% elseif (loop.last) %}
	    </div>
	  {% endif %}
	{% endfor %}
	  <div class="row">
	    <div class="col d-flex justify-content-end">
	      <div class="pagination" id="pagination"></div>
	    </div>
	  </div>
	</div>
{% endblock %}