{% extends 'gallerytemplate.html' %}

{% block title %}Series List{% endblock %}

{% block header %}
<script type="text/javascript" src="/js/jquery.simplePagination.js"></script>
<link rel="stylesheet" href="/css/simplePagination.css"/>
<script language="JavaScript">
$( document ).ready(function() {
    $("#pagination").pagination({
        items: {{count}},
        itemsOnPage: {{config.imagesPerPage}},
        cssStyle: 'light-theme',
        currentPage: {{page}},
        onPageClick: function (pageNum) {
        	$('input[name="seriespage"]').val(pageNum);
        	document.forms.serieslist.submit();
        }
    });
});
</script>
{% endblock %}

{% block leftcolumn %}
	<div class="taglist">
	{% for tag in taglist.sort() %}
		<div class="tag" id="{{tag}}"><a href="/gallery?tags={{tag}}&page=1">{{tag}}</a></div>
	{% endfor %}
	</div>
{% endblock %}

{% block main %}
	<form name="serieslist" action="/serieslist" method="POST">
		<input type="hidden" name="seriespage" value="{{page}}"/>
	</form>
	<div id="alert">{{error}}</div>
	<div class="gallery">
	{% for series in serieslist %}
		<div class="seriesimg">
			<a href="/gallery?series={{series._id}}">
			<img src="/thumbnails/{{series.thumbnail}}"/>
			</a>
			<div class="seriesname">{{series._id}}</div>
			<div class="seriescount">Image Count: {{series.count}}</div>
		</div>
	{% endfor %}
		<div class="pagination" id="pagination"/>
	</div>
{% endblock %}