{% extends 'gallerytemplate.html' %}

{% block header %}
<!-- 
<script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
<script language="JavaScript">
	function fitMainImageToScreen() {
		var containerWidth = $("div#image").width();
		var containedWidth = $("img#mainimage").width();
		if (containedWidth > containerWidth) {
			var containedHeight = $("img#mainimage").height();
			var newHeight = ( containedHeight * containerWidth) / containedWidth; 
			$("img#mainimage").height(newHeight);
			$("img#mainimage").width(containerWidth);
		}
	}
	$(document).ready(function() {
		$("img#mainimage").imagesLoaded().done(function(instance) { fitMainImageToScreen(); });
	});
</script>
-->
<script>
	function setSequenceImage(id) {
		var sequence = $("input[name=sequence]").val();
		var series_name = $("input[name=series_name]").val();
		setSequence(id,series_name,sequence);
	}
</script>
  {% if image %}
	{% if image.series.count >= 1 %}
<script>
 // left-right keypad for navigation
$(window).keydown(function(e) {
    if(e.which === 39) {
    	{% if image.series.sequence < image.series.count %}
    	window.location.href = '/image?series={{image.series.name}}&sequence={{image.series.sequence + 1}}';
    	{% endif %}
    } else if(e.which === 37) {
		{% if image.series.sequence > 1 %}
		window.location.href = '/image?series={{image.series.name}}&sequence={{image.series.sequence - 1}}';
		{% endif %}
    }
});
</script>
	{% endif %}
  {% endif %}
{% endblock %}

{% block title %}Image{% endblock %}

{% block leftcolumn %}
  {% if image %}
    <div class="taglist">
    	<span style="font-size: 12px">Image Tags</span>
		{% for tag in image.tags.sort() %}
		<div class="tag" id="{{tag}}"><a href="/gallery?tags={{tag}}&page=1">{{tag}}</a> {% if user %}<img src="/images/delete-sm.png" class="delete-button" onClick="javascript:deleteTag('{{image._id.toString()}}','{{tag}}');"/>{% endif %}</div>
		{% endfor %}
	</div>
	{% if user %}
		<div class="tag">
			<form name="addtag" method="post" action="" onsubmit="addTag('{{image._id.toString()}}');return false;">
			  <div class="form-group">
				<label for="newtag" style="font-size: 12px">Add Tag</label>
				<input type="text" name="newtag" value="" id="newtag" class="form-control"/>
			  </div>
  			  <button type="button" class="button btn-primary add-button" onClick="addTag('{{image._id.toString()}}');">Add</button>
			</form>
		</div>
	{% endif %}
	{% if image.tags.indexOf('series') >=0 %}
		<span style="font-size: 12px">Series Info</span>
		<div class="series">
		{% if user %}
			<form name="setsequence" method="post" action="" onsubmit="setSequenceImage('{{image._id.toString()}}');return false;">
				<input type="text" name="series_name" value="{{image.series.name}}"/>
				<input type="text" name="sequence" value="{{image.series.sequence}}"/>
				<input type="button" name="set" value="set" class="set-button" onClick="javascript:setSequenceImage('{{image._id.toString()}}');"/>
			</form>
	 	{% else %}
	 		<span style="font-size: 12px">Series: {{image.series.name}}</span>
	 	 	<span style="font-size: 12px">Sequence: {{image.series.sequence}}</span>
	 	{% endif %}
	 		<div style="font-size: 12px">Series: <a href="/gallery?series={{image.series.name}}">{{image.series.name}}</a></div>
			<div style="font-size: 12px">Images in series: {{image.series.count}}</div>
		</div>
	{% endif %}
	{% if user %}
		{% if image.deleted %}
		<div class="delete">
			<input type="button" name="undelete" value="Un-Delete Image" class="delete-image" onClick="javascript:unDeleteImage('{{image._id.toString()}}');"/>
		</div>
		{% else %}
		<div class="delete">
			<input type="button" name="delete" value="Delete Image" class="delete-image" onClick="javascript:deleteImage('{{image._id.toString()}}');"/>
		</div>
		{% endif %}
	{% endif %}
	<div class="imagedetail">
		<div id="original">Original: {{image.original}}</div>
		<div id="uploaded">Uploaded on: {{image.date|date('Y-m-d')}}</div>
	</div>
  {% endif %}
{% endblock %}

{% block main %}
	<div id="alert">{{error}}</div>
	<div>
	{% if image %}
		{% if image.series.count >= 1 %}
		<ul id="seriesnav" class="pagination mt-1">
			{% if image.series.sequence > 1 %}
				<li class="page-item"><a class="page-link" href="image?series={{image.series.name}}&sequence={{image.series.sequence - 1}}">&lt;&lt;&lt; Prev</a></li>
			{% endif %}
			<li class="page-item disabled"><a class="page-link disabled">{{image.series.sequence}} of {{image.series.count}}</a></li>
			{% if image.series.sequence < image.series.count %}
				<li class="page-item"><a class="page-link" href="image?series={{image.series.name}}&sequence={{image.series.sequence + 1}}">Next &gt;&gt;&gt;</a></li>
			{% endif %}
		</ul>
		{% endif %}
	<div id="image" class="mt-1">
		<img id="mainimage" class="figure-img img-fluid" src="/{{image.location}}"/>
	</div>
		{% if image.series.count >= 1 %}
		<ul id="seriesnav" class="pagination mt-1">
			{% if image.series.sequence > 1 %}
				<li class="page-item"><a class="page-link" href="image?series={{image.series.name}}&sequence={{image.series.sequence - 1}}">&lt;&lt;&lt; Prev</a></li>
			{% endif %}
			<li class="page-item disabled"><a class="page-link disabled">{{image.series.sequence}} of {{image.series.count}}</a></li>
			{% if image.series.sequence < image.series.count %}
				<li class="page-item"><a class="page-link" href="image?series={{image.series.name}}&sequence={{image.series.sequence + 1}}">Next &gt;&gt;&gt;</a></li>
			{% endif %}
		</ul>
		{% endif %}
		{% if config.allowComments %}
			<div id="comments">
				{% for comment in image.comments %}
				<div id="comment">
					<div id="commentuser">{{comment.user}}</div>
					<div id="commentdate">Posted: {{comment.date|date('Y-m-d')}}</div>
					<div id="commenttext">{{comment.comment}}</div>
				</div>
				{% endfor %}
				{% if user || config.allowAnonymousComments %}
				<div id="comment">
					<form name="comment" action="/addComment" method="POST">
						<div id="commentuser">{% if user %}{{user.local.email}}{% else %}Anonymous{% endif %}</div>
						<div id="commenttext"><textarea cols="50" rows="6" name="comment"></textarea></div>
						<input type="submit" name="Add Comment" value="Add Comment"/>
						<input type="hidden" name="id" value="{{image._id.toString()}}"/>
					</form>
				</div>
				{% endif %}
			</div>
		{% endif %}
	{% endif %}
	</div>
{% endblock %}